# Model WO factor

Att göra 

Slå ut PiT WO för att kunna tracka den

RemainingCapital , om detta join finns också så modi ,  för de andra säg global 


1. modulera båda? måste jag göra i datat oavsett
2. varför aviker forecast från actual när det är på månader som finns?

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier , GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold , cross_validate, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import accuracy_score ,mean_squared_error
from sklearn.preprocessing import LabelEncoder
import os

import pandas as pd
import numpy as np

I need python version 3.9.17 in order to run 
import pymssql

In [2]:
from Preprocessing_Application import DataPreprocessor

server = 'reporting-db.nystartfinans.net'
database = 'reporting-db'
username = 'Andreas'
password = 'nCq8Sg@1lYnd(E'

# /Users/andreasnilsson/Library/CloudStorage/OneDrive-Nstart/Skrivbordet/Repository Homes/GWO Portfolio Modeling/SQL


path = "/Users/andreasnilsson/Desktop/Repository Homes/GWO Portfolio Modeling/SQL/Gross WO & Ever90 & RunOff Monthly.sql"

preprocessor = DataPreprocessor(server, database, username, password)

df = preprocessor.fetch_data_from_sql(path)

/Users/andreasnilsson/Library/CloudStorage/OneDrive-Nstart/Skrivbordet/Repository Homes/Churn-Modeling-DATA-248/Python/Preprocessing_Application.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

In [43]:

# Save the DataFrame to a CSV file
csv_file = 'HistoricalSnapshot.csv'
#df.to_csv(csv_file, index=False)  # Set index=False to exclude the DataFrame index


# Load the CSV file back into a DataFrame
df = pd.read_csv(csv_file)

In [44]:

df['DisbursedDate'] = pd.to_datetime(df['DisbursedDate'], errors='coerce')


see =  df[(df.DisbursedDate > '2021-12-10') & (df.IsOpen == 0 ) & (df.Ever90 != 1) ]
see

,AccountNumber,mob,DisbursedDate,SnapshotDate,Amount,Ever90,CurrentAmount,IsOpen,SendToCollection,WO_flag_ever,WO_flag,RemainingCapital,PurchasePrice,maxAmount,MaxAmountAdjusted,CurrentAmountAdjusted,WO_Amount,run_off,WO_Amount2,WO_Amount_PiT
427957,7696248,10,2021-12-21,2022-10-31,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,203614.08,203614.08,0.0,NaN,0.0,0.0,0.0
427958,7696248,11,2021-12-21,2022-11-30,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,203614.08,203614.08,0.0,NaN,0.0,0.0,0.0
427959,7696248,12,2021-12-21,2022-12-31,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,203614.08,203614.08,0.0,NaN,0.0,0.0,0.0
427960,7696248,13,2021-12-21,2023-01-31,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,203614.08,203614.08,0.0,NaN,0.0,0.0,0.0
427961,7696248,14,2021-12-21,2023-02-28,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,203614.08,203614.08,0.0,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503086,7972185,1,2023-10-27,2023-11-30,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,177710.91,177710.91,0.0,NaN,0.0,0.0,0.0
503087,7972185,2,2023-10-27,2023-12-31,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,177710.91,177710.91,0.0,NaN,0.0,0.0,0.0
503284,7979776,1,2023-11-24,2023-12-31,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,471860.00,471860.00,0.0,NaN,0.0,0.0,0.0
503294,7980329,1,2023-11-22,2023-12-31,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,195758.00,195758.00,0.0,NaN,0.0,0.0,0.0
503298,7980485,1,2023-11-29,2023-12-31,0.0,0,0.0,0,1900-01-01,0,0,NaN,NaN,90441.00,90441.00,0.0,NaN,0.0,0.0,0.0

In [45]:

see =  df[(df.DisbursedDate > '2020-12-10') &  (df.Ever90 != 1) ].head(50)
see

,AccountNumber,mob,DisbursedDate,SnapshotDate,Amount,Ever90,CurrentAmount,IsOpen,SendToCollection,WO_flag_ever,WO_flag,RemainingCapital,PurchasePrice,maxAmount,MaxAmountAdjusted,CurrentAmountAdjusted,WO_Amount,run_off,WO_Amount2,WO_Amount_PiT
306794,7203847,0,2021-01-07,2021-01-31,291744.81,0,291744.81,1,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,291744.81,NaN,1.000000,0.0,0.0
306795,7203847,1,2021-01-07,2021-02-28,291030.08,0,291030.08,1,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,291030.08,NaN,0.997550,0.0,0.0
306796,7203847,2,2021-01-07,2021-03-31,290309.42,0,290309.42,1,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,290309.42,NaN,0.995080,0.0,0.0
306797,7203847,3,2021-01-07,2021-04-30,289582.79,0,289582.79,1,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,289582.79,NaN,0.992589,0.0,0.0
306798,7203847,4,2021-01-07,2021-05-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306799,7203847,5,2021-01-07,2021-06-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306800,7203847,6,2021-01-07,2021-07-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306801,7203847,7,2021-01-07,2021-08-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306802,7203847,8,2021-01-07,2021-09-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306803,7203847,9,2021-01-07,2021-10-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306804,7203847,10,2021-01-07,2021-11-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306805,7203847,11,2021-01-07,2021-12-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306806,7203847,12,2021-01-07,2022-01-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306807,7203847,13,2021-01-07,2022-02-28,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306808,7203847,14,2021-01-07,2022-03-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306809,7203847,15,2021-01-07,2022-04-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306810,7203847,16,2021-01-07,2022-05-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306811,7203847,17,2021-01-07,2022-06-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306812,7203847,18,2021-01-07,2022-07-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306813,7203847,19,2021-01-07,2022-08-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306814,7203847,20,2021-01-07,2022-09-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306815,7203847,21,2021-01-07,2022-10-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306816,7203847,22,2021-01-07,2022-11-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306817,7203847,23,2021-01-07,2022-12-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306818,7203847,24,2021-01-07,2023-01-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306819,7203847,25,2021-01-07,2023-02-28,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306820,7203847,26,2021-01-07,2023-03-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306821,7203847,27,2021-01-07,2023-04-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306822,7203847,28,2021-01-07,2023-05-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306823,7203847,29,2021-01-07,2023-06-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306824,7203847,30,2021-01-07,2023-07-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306825,7203847,31,2021-01-07,2023-08-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306826,7203847,32,2021-01-07,2023-09-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306827,7203847,33,2021-01-07,2023-10-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306828,7203847,34,2021-01-07,2023-11-30,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
306829,7203847,35,2021-01-07,2023-12-31,0.00,0,0.00,0,1900-01-01,0,0,NaN,NaN,291744.81,291744.81,0.00,NaN,0.000000,0.0,0.0
308632,7205834,0,2021-01-14,2021-01-31,227993.44,0,227993.44,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,227993.44,NaN,1.000000,0.0,0.0
308633,7205834,1,2021-01-14,2021-02-28,227229.07,0,227229.07,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,227229.07,NaN,0.996647,0.0,0.0
308634,7205834,2,2021-01-14,2021-03-31,225685.55,0,225685.55,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,225685.55,NaN,0.989877,0.0,0.0
308635,7205834,3,2021-01-14,2021-04-30,224903.21,0,224903.21,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,224903.21,NaN,0.986446,0.0,0.0
308636,7205834,4,2021-01-14,2021-05-31,224113.73,0,224113.73,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,224113.73,NaN,0.982983,0.0,0.0
308637,7205834,5,2021-01-14,2021-06-30,223317.05,0,223317.05,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,223317.05,NaN,0.979489,0.0,0.0
308638,7205834,6,2021-01-14,2021-07-31,222513.10,0,222513.10,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,222513.10,NaN,0.975963,0.0,0.0
308639,7205834,7,2021-01-14,2021-08-31,221701.81,0,221701.81,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,221701.81,NaN,0.972404,0.0,0.0
308640,7205834,8,2021-01-14,2021-09-30,220883.12,0,220883.12,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,220883.12,NaN,0.968813,0.0,0.0
308641,7205834,9,2021-01-14,2021-10-31,220056.96,0,220056.96,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,220056.96,NaN,0.965190,0.0,0.0
308642,7205834,10,2021-01-14,2021-11-30,219223.26,0,219223.26,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,219223.26,NaN,0.961533,0.0,0.0
308643,7205834,11,2021-01-14,2021-12-31,218381.95,0,218381.95,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,218381.95,NaN,0.957843,0.0,0.0
308644,7205834,12,2021-01-14,2022-01-31,217532.97,0,217532.97,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,217532.97,NaN,0.954119,0.0,0.0
308645,7205834,13,2021-01-14,2022-02-28,216676.24,0,216676.24,1,1900-01-01,0,0,NaN,NaN,227993.44,227993.44,216676.24,NaN,0.950362,0.0,0.0

# Import PD

In [46]:
ScoreData = pd.read_excel('PDTo23-12.xlsx')

In [47]:
withBins = ScoreData[['AccountNumber','Probability_Bins']]

In [48]:
## Merge
df = pd.merge( withBins ,df, on = 'AccountNumber')

In [49]:
### Take away collection accounts
CollectionAccount  = list(set(df[df.WO_Amount2 > 0].AccountNumber))


Healthy = df[~df.AccountNumber.isin(CollectionAccount)]
Healthy

,AccountNumber,Probability_Bins,mob,DisbursedDate,SnapshotDate,Amount,Ever90,CurrentAmount,IsOpen,SendToCollection,...,WO_flag,RemainingCapital,PurchasePrice,maxAmount,MaxAmountAdjusted,CurrentAmountAdjusted,WO_Amount,run_off,WO_Amount2,WO_Amount_PiT
0,5073598,0,0,2018-01-09,2018-01-31,154617.00,0,154617.00,1,1900-01-01,...,0,NaN,NaN,154617.00,154617.00,154617.00,NaN,1.000000,0.0,0.0
1,5073598,0,1,2018-01-09,2018-02-28,153970.12,0,153970.12,1,1900-01-01,...,0,NaN,NaN,154617.00,154617.00,153970.12,NaN,0.995816,0.0,0.0
2,5073598,0,2,2018-01-09,2018-03-31,153316.29,0,153316.29,1,1900-01-01,...,0,NaN,NaN,154617.00,154617.00,153316.29,NaN,0.991588,0.0,0.0
3,5073598,0,3,2018-01-09,2018-04-30,152655.43,0,152655.43,1,1900-01-01,...,0,NaN,NaN,154617.00,154617.00,152655.43,NaN,0.987313,0.0,0.0
4,5073598,0,4,2018-01-09,2018-05-31,151987.48,0,151987.48,1,1900-01-01,...,0,NaN,NaN,154617.00,154617.00,151987.48,NaN,0.982993,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410326,7988504,0,0,2023-12-22,2023-12-31,51194.00,0,51194.00,1,1900-01-01,...,0,NaN,NaN,51194.00,51194.00,51194.00,NaN,1.000000,0.0,0.0
410327,7988553,0,0,2023-12-27,2023-12-31,130013.16,0,130013.16,1,1900-01-01,...,0,NaN,NaN,130013.16,130013.16,130013.16,NaN,1.000000,0.0,0.0
410328,7989205,1,0,2023-12-29,2023-12-31,190000.00,0,190000.00,1,1900-01-01,...,0,NaN,NaN,190000.00,190000.00,190000.00,NaN,1.000000,0.0,0.0
410329,7989791,2,0,2023-12-29,2023-12-31,85000.00,0,85000.00,1,1900-01-01,...,0,NaN,NaN,85000.00,85000.00,85000.00,NaN,1.000000,0.0,0.0
410330,7990179,2,0,2023-12-29,2023-12-31,150000.00,0,150000.00,1,1900-01-01,...,0,NaN,NaN,150000.00,150000.00,150000.00,NaN,1.000000,0.0,0.0

## FEATURES

### CurrentAmountAdjusted is only for healthy accounts - e.g Run off NGO 

### MaxAmountAdjusted from all accounts, if we divide WO_Amount e.g

In [50]:
Healthy = Healthy[Healthy.mob != -1]

Healthy['WO_Ever'] = df.WO_Amount2.copy()
Healthy['WO_Accounting'] = df.WO_Amount_PiT.copy()

Healthy = Healthy.drop(columns=['WO_Amount', 'SendToCollection','WO_Amount2','WO_Amount_PiT'])

Healthy

/var/folders/xv/px633rpn27q5n8m3579ly8dm0000gn/T/ipykernel_2151/173334507.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Healthy['WO_Ever'] = df.WO_Amount2.copy()
/var/folders/xv/px633rpn27q5n8m3579ly8dm0000gn/T/ipykernel_2151/173334507.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Healthy['WO_Accounting'] = df.WO_Amount_PiT.copy()

,AccountNumber,Probability_Bins,mob,DisbursedDate,SnapshotDate,Amount,Ever90,CurrentAmount,IsOpen,WO_flag_ever,WO_flag,RemainingCapital,PurchasePrice,maxAmount,MaxAmountAdjusted,CurrentAmountAdjusted,run_off,WO_Ever,WO_Accounting
0,5073598,0,0,2018-01-09,2018-01-31,154617.00,0,154617.00,1,0,0,NaN,NaN,154617.00,154617.00,154617.00,1.000000,0.0,0.0
1,5073598,0,1,2018-01-09,2018-02-28,153970.12,0,153970.12,1,0,0,NaN,NaN,154617.00,154617.00,153970.12,0.995816,0.0,0.0
2,5073598,0,2,2018-01-09,2018-03-31,153316.29,0,153316.29,1,0,0,NaN,NaN,154617.00,154617.00,153316.29,0.991588,0.0,0.0
3,5073598,0,3,2018-01-09,2018-04-30,152655.43,0,152655.43,1,0,0,NaN,NaN,154617.00,154617.00,152655.43,0.987313,0.0,0.0
4,5073598,0,4,2018-01-09,2018-05-31,151987.48,0,151987.48,1,0,0,NaN,NaN,154617.00,154617.00,151987.48,0.982993,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410326,7988504,0,0,2023-12-22,2023-12-31,51194.00,0,51194.00,1,0,0,NaN,NaN,51194.00,51194.00,51194.00,1.000000,0.0,0.0
410327,7988553,0,0,2023-12-27,2023-12-31,130013.16,0,130013.16,1,0,0,NaN,NaN,130013.16,130013.16,130013.16,1.000000,0.0,0.0
410328,7989205,1,0,2023-12-29,2023-12-31,190000.00,0,190000.00,1,0,0,NaN,NaN,190000.00,190000.00,190000.00,1.000000,0.0,0.0
410329,7989791,2,0,2023-12-29,2023-12-31,85000.00,0,85000.00,1,0,0,NaN,NaN,85000.00,85000.00,85000.00,1.000000,0.0,0.0
410330,7990179,2,0,2023-12-29,2023-12-31,150000.00,0,150000.00,1,0,0,NaN,NaN,150000.00,150000.00,150000.00,1.000000,0.0,0.0

In [51]:
df = Healthy.copy()

In [52]:


df['Row'] = 1 
df['DisbursedDate'] = pd.to_datetime(df['DisbursedDate'])


# Combine Year and Month into a 'YearMonth' column for grouping
df['YearMonth'] = df['DisbursedDate'].dt.to_period('M')

# Now group by 'mob', 'YearMonth' and then sum 'Row', 'CurrentAmount', 'Ever90', and 'WO_flag'
vintage_data = df.groupby(['Probability_Bins','mob', 'YearMonth']).agg({'Row': 'sum', 'CurrentAmount': 'sum' }).reset_index()

In [ ]:
vintage_data

In [54]:
vintage_data.to_excel("Churn_Consolidate.xlsx", index=False)

In [8]:
# vintage_data[vintage_data.Year == 2018].sort_values(by = ['Year','mob' ]).head(60)

In [9]:
# ## Controll Ever90 

# see2018_1_12 =  df[(df.Year == 2018) & ( df.Ever90 == 1  ) &  ( df.mob == 24  )  ]

# # print(len(see2018_1_12))

# see2018_1_136 = df[(df.Year == 2018) & ( df.Ever90 == 1  ) &  ( df.mob == 56  )  ]

# print(len(pd.merge(see2018_1_12, see2018_1_136, on='AccountNumber', how='inner')))

# ## Controll WO_flag 

# see2018_1_12 =  df[(df.Year == 2018) & ( df.WO_flag == 1  ) &  ( df.mob == 12  )  ]

# print(len(see2018_1_12))

# see2018_1_136 = df[(df.Year == 2018) & ( df.WO_flag == 1  ) &  ( df.mob == 46  )  ]

# intersection = pd.merge(see2018_1_12, see2018_1_136, on='AccountNumber', how='inner')

# print(len(intersection))

In [10]:
run_off = df.groupby(['WO_Sell_Split','mob', 'YearMonth']).agg({'run_off': 'mean'}).reset_index()
run_off

     WO_Sell_Split  mob YearMonth   run_off
0           Global    0   2015-10  0.611111
1           Global    0   2015-11  0.750000
2           Global    0   2015-12  0.636364
3           Global    0   2016-01  0.876136
4           Global    0   2016-02  0.750000
...            ...  ...       ...       ...
7894         Modhi   80   2016-12  0.000000
7895         Modhi   80   2017-03  0.000000
7896         Modhi   81   2016-12  0.000000
7897         Modhi   82   2016-12  0.000000
7898         Modhi   83   2016-12  0.000000

[7899 rows x 4 columns]

In [11]:
all =  pd.merge(  vintage_data , run_off, on=['WO_Sell_Split','mob','YearMonth'], how='inner')

## THIS BELLOW WILL NOT REFLECT THE TOTAL NOW SINCE I SPLIT ON MODI / GLOBAL

In [12]:
all['Ever90_%'] = all.Ever90/ all.Row 
all['WO_flag_%'] = all.WO_flag/ all.Row

In [13]:
## to include columns to pivot in excel falls on the correct position/cells

syntetic = all[all.WO_Sell_Split ==  'Global'].copy()
syntetic['WO_Sell_Split'] = 'Modhi'
for i in syntetic.columns[3:] : syntetic[i] = 0

all = pd.concat((all, syntetic) ,axis=0)

In [14]:
all.to_excel("WO_.xlsx", index=False)

In [15]:
all

,WO_Sell_Split,mob,YearMonth,Row,CurrentAmount,WO_Ever,Ever90,WO_flag,run_off,Ever90_%,WO_flag_%
0,Global,0,2015-10,18,4160000.00,0.0,0,0,0.611111,0.0,0.0
1,Global,0,2015-11,20,4758581.81,0.0,0,0,0.750000,0.0,0.0
2,Global,0,2015-12,11,2814717.00,0.0,0,0,0.636364,0.0,0.0
3,Global,0,2016-01,9,1553103.00,0.0,0,0,0.876136,0.0,0.0
4,Global,0,2016-02,24,5505101.00,0.0,0,0,0.750000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
5022,Modhi,102,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
5023,Modhi,103,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
5024,Modhi,104,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
5025,Modhi,105,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
5026,Modhi,106,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0

,WO_Sell_Split,mob,YearMonth,Row,CurrentAmount,WO_Ever,Ever90,WO_flag,run_off,Ever90_%,WO_flag_%
0,Global,0,2015-10,18,4160000.00,0.0,0,0,0.611111,0.0,0.0
1,Global,0,2015-11,20,4758581.81,0.0,0,0,0.750000,0.0,0.0
2,Global,0,2015-12,11,2814717.00,0.0,0,0,0.636364,0.0,0.0
3,Global,0,2016-01,9,1553103.00,0.0,0,0,0.876136,0.0,0.0
4,Global,0,2016-02,24,5505101.00,0.0,0,0,0.750000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4922,Modhi,101,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
4923,Modhi,102,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
4924,Modhi,103,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
4925,Modhi,104,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0
4926,Modhi,105,2015-01,0,0.00,0.0,0,0,0.000000,0.0,0.0